<% include ../partials/_header %>




    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
      <div class="shop-page-wrapper shop-fullwidth ptb--80">
          <div class="container">
              <div class="row mb--50">
                  <div class="col-12">
                      <div class="shop-toolbar">
                          <div class="row align-items-center">
                              <div class="col-md-5 mb-sm--30 mb-xs--10">
                                  <div class="shop-toolbar__left">
                                      <div class="product-ordering">
                                          <select class="product-ordering__select nice-select">
                                              <option value="0">Default Sorting</option>
                                              <option value="1">Relevance</option>
                                              <option value="2">Name, A to Z</option>
                                              <option value="3">Name, Z to A</option>
                                              <option value="4">Price, low to high</option>
                                              <option value="5">Price, high to low</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-7">
                                    <div
                                        class="shop-toolbar__right d-flex justify-content-md-end justify-content-start flex-sm-row flex-column">
                                        <p class="product-pages"></p>
                                        <div class="product-view-mode ml--50 ml-xs--0">
                                            <a class="active" href="#" data-target="grid">
                                            </a>
                                            <a href="#" data-target="list">
                                            </a>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>




          <section class="product-tab-area mb--30 mb-md--10">
            <div class="container">
                <div class="row mb--28 mb-md--18 mb-sm--33">
                    <div class="col-md-3 text-md-left text-center">
                        <h2>Category</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-style-1">
                            <div class="nav nav-tabs justify-content-md-end justify-content-center" id="product-tab"
                                role="tablist">
                                <a class="nav-item nav-link active" id="new-all-tab" data-toggle="tab"
                                    href="#new-all" role="tab" aria-controls="new-all" aria-selected="true">
                                    <span class="nav-text">All</span>
                                </a>
                                <a class="nav-item nav-link" id="new-wooden-tab" data-toggle="tab"
                                    href="#new-wooden" role="tab" aria-controls="new-wooden" aria-selected="false">
                                    <span class="nav-text">Men</span>
                                </a>
                                <a class="nav-item nav-link" id="new-furnished-tab" data-toggle="tab"
                                    href="#new-furnished" role="tab" aria-controls="new-furnished"
                                    aria-selected="false">
                                    <span class="nav-text">Women</span>
                                </a>
                                <a class="nav-item nav-link" id="new-table-tab" data-toggle="tab" href="#new-table"
                                    role="tab" aria-controls="new-table" aria-selected="false">
                                    <span class="nav-text">Kids</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="product-tab-content">
                            <div class="tab-pane fade show active" id="new-all" role="tabpanel"
                                aria-labelledby="new-all-tab">
                                <div class="row" id="allproduk">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-wooden" role="tabpanel"
                                aria-labelledby="new-wooden-tab">
                                <div class="row" id="menproduct">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-furnished" role="tabpanel"
                                aria-labelledby="new-furnished-tab">
                                <div class="row" id="womenproduct">
        
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-table" role="tabpanel"
                                aria-labelledby="new-table-tab">
                                <div class="row" id="kidsproduct">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



          <div class="container shop-products list">
              <div class="row">
                  <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                      <div class="ft-product-list">
                          <% produnof.forEach(function (produn) { %>

                          <div class="product-inner">
                              <figure class="product-image">

                                  <img src="<%= produn.image %> " alt="Products">

                                  <div class="product-thumbnail-action">
                                      <a href="/produnoredirect/<%= produn.id %>" 
                                          class="action-btn quick-view">
                                          <i class="la la-eye"></i>
                                      </a>
                                  </div>
                              </figure>
                              <div class="product-info">
                                  <h3 class="product-title mb--25">
                                      $<%= produn.title %> 

                                  </h3>
                                  <div class="ft-product-action-list mb--20">
                                        <div class="product-size mb--25">
                                                <div class="product-size-swatch">
                                              
                                                </div>
                                      </div>

                                  </div>
                                  <div class="product-price-wrapper mb--15 mb-sm--10">
                                      <span class="money">Rp. <%= produn.price %> </span>
                                  </div>
                                  <p class="product-short-description mb--20">
                                        <%= produn.description %>
                                      <div class="ft-product-action-list d-flex align-items-center">
                                          <a href="/addtocardproduno/<%= produn.id %>" class="btn btn-size-md" id="addtocartdan">Add To Cart</a>

                                      </div>
                              </div>
                          </div>
                          <% }) %>

                      </div>

                  </div>


      
                      </div>
                  </div>
              </div>




              <div class="row">

              <div class="col-12">
                          <!-- pagination -->
                          <% if(pages > 0) { %> <!-- show pagination if there is pages -->
                            <nav  class="pagination-wrap mt--35 mt-md--25">
                              <ul class="pagination">
                                <!-- FIRST ITEM -->
                                <% if(current == 1) { %>
                                  <li>
                                    <a class="page-number" href="#">First</a>
                                  </li>
                                <% } else { %>
                                  <li >
                                    <a class="page-number" href="/produnoindex/1">First</a>
                                  </li>
                                <% } %>
                                <!-- ITEMS  -->
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if(i !== 1) { %>
                                  <li >
                                    <a class="page-number" href="#">...</a>
                                  </li>
                                <% } %>
                                <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                  <% if(i == current) { %>
                                    <li >
                                      <a class="page-number" href="<%= i %>">
                                        <%= i %>
                                      </a>
                                    </li>
                                  <% } else { %>
                                    <li >
                                      <a class="page-number" href="/produnoindex/<%= i %>">
                                        <%= i %>
                                      </a>
                                    </li>
                                  <% } %>
                                  <% if (i == Number(current) + 4 && i < pages) { %>
                                     <li >
                                       <a class="page-number" href="#">...</a>
                                     </li>
                                  <% } %>
                                <% } %>
                                <!-- LAST ITEM -->
                                <% if(current == pages) { %>
                                  <li >
                                    <a class="page-number" href="#">
                                      Last
                                    </a>
                                  </li>
                                <% } else { %>
                                  <li >
                                    <a class= "page-number" href="/produnoindex/<%= pages %>">
                                      Last
                                    </a>
                                  </li>
                                <% } %>
                              </ul>
                            </nav>
                          <% } %>
                        </div>
                      </div>




              
          </div>
      </div>
  </div>
  <!-- Main Content Wrapper Start -->



 

    <!-- OffCanvas Menu Start -->
    <div class="offcanvas-menu-wrapper" id="offcanvasMenu">
        <div class="offcanvas-menu-inner">
            <a href="" class="btn-close">
                <i class="la la-remove"></i>
            </a>
            <nav class="offcanvas-navigation">
                <ul class="offcanvas-menu">
                    <li>
                        <a href="index.html" class="mainmenu__link">
                            <span class="mm-text">Home</span>
                        </a>

                    </li>
                    <li>
                        <a href="shop.html" class="mainmenu__link">
                            <span class="mm-text">Shop</span>
                        </a>

                    </li>
                    <li>
                        <a href="contactus.html" class="mainmenu__link">
                            <span class="mm-text">Contact Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html" class="mainmenu__link">
                            <span class="mm-text">Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="register.html" class="mainmenu__link">
                            <span class="mm-text">Register</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- OffCanvas Menu End -->



    <!-- Global Overlay Start -->
    <div class="global-overlay"></div>
    <!-- Global Overlay End -->

    <!-- Global Overlay Start -->
    <a class="scroll-to-top" href=""><i class="la la-angle-double-up"></i></a>
    <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->


    <!-- ************************* JS Files ************************* -->







  <% include ../partials/_footer %>